.popup{
  --input-height:44px;

  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  visibility:hidden;
  z-index:var(--z-index-popup);
  display:flex;
  align-items:flex-end;
  pointer-events:none;
  transition:visibility var(--animation-duration-short);
}
.theme-editor .popup{
    visibility:hidden;
  }
.popup form{
    width:100%;
    max-width:600px;
    margin:var(--spacing-medium) auto 0;
  }
.popup form .newsletter-form-inner{
      display:flex
    }
@media (max-width: 45em){

    .popup form .newsletter-form-inner{
        flex-direction:column
    }
      }
.popup form .newsletter-form-inner .input{
        background-color:var(--color-background-input);
        color:var(--color-text-input);
        border:0;
        height:var(--input-height);
        border-radius:var(--button-shape);
        display:flex;
        align-items:center;
        padding:calc(var(--spacing-unit) * 4) var(--spacing-medium-large);
        transition:background-color 0.2s ease-in-out
      }
.popup form .newsletter-form-inner .input::placeholder{
          color:var(--color-text-input);
        }
.popup form .newsletter-form-inner .input:hover{
          background-color:var(--color-background-input-hover);
        }
.popup form .newsletter-form-inner .btn{
        height:var(--input-height);
        margin-top:var(--spacing-small)
      }
@media (min-width: 45em){

      .popup form .newsletter-form-inner .btn{
          margin-top:0;
          margin-left:var(--spacing-small)
      }
        }
.popup.active{
  display:flex;
}
.popup.visible{
  visibility:visible
}
@media (max-width: 45em){
.popup.visible{
    pointer-events:all
}
  }
.theme-editor .popup.visible{
    visibility:visible;
  }
@media (max-width: 45em){
.popup.visible .popup__overlay{
      opacity:0.9
  }
    }
.popup.visible .popup__bar{
    transform:translateY(0);
    pointer-events:all;
  }
.popup__overlay{
  background-color:var(--color-overlay);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  transition:opacity var(--animation-duration-short) var(--animation-timing);
}
.theme-editor .popup__overlay{
    transition-duration:0s;
  }
.popup__bar{
  position:relative;
  width:100%;
  background-color:var(--color-background-popover);
  padding:var(--spacing-large);
  text-align:center;
  z-index:1;
  overflow:hidden;
  transform:translateY(100%);
  transition:transform var(--animation-duration-short) var(--animation-timing)
}
@media (min-width: 45em){
.popup__bar{
}
  }
.popup__bar-overlay{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:var(--image-color-overlay);
  opacity:var(--image-overlay-opacity);
}
.popup__image.image{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:transparent;
  opacity:0.5;
}
.popup__image.image .image__img{
    object-position:var(--image-position);
  }
.popup__close{
  position:absolute;
  top:var(--spacing-medium-large);
  right:var(--spacing-medium-large);
  cursor:pointer;
  transition:opacity 0.25s;
  z-index:10;
}
.popup__close .icon-button__icon .icon{
    width:40px;
    height:40px;
  }
.popup__content{
  position:relative;
  z-index:1;
}
.popup__heading-block{
  color:var(--color-text);
}
.popup__heading{
  max-width:var(--text-max-width);
  margin-left:auto;
  margin-right:auto;
}
.popup__subheading{
  max-width:var(--text-max-width);
  margin-left:auto;
  margin-right:auto;
}
.popup__heading-block + .popup__form,
.popup__form + .popup__heading-block{
  margin-top:var(--spacing-medium-large);
}
.popup__heading + .popup__subheading{
  margin-top:var(--spacing-unit);
}
